
{{!-- Navigation --}}
<header>
  <nav>
    <ul class="nav-list">
      <li class="nav-item"><a href="http://localhost:3000/" class="nav-link home" data-id="home">Home</a></li>
      <li class="nav-item"><a href="http://localhost:3000/about" class="nav-link about" data-id="about">About</a></li>
      <li class="nav-item"><a href="http://localhost:3000/portfolio" class="nav-link portfolio"
          data-id="portfolio">Portfolio</a></li>
      <li class="nav-item"><a href="http://localhost:3000/contact" class="nav-link contact action"
          data-id="contact">Contact</a></li>
    </ul>
  </nav>
</header>

<main>
  <h1>Contact</h1>
</main>